/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /*Цвета*/
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --header-color: #ff0070;
  --mark-text-color: #000028;
  --text-color: #f1b2ce;
  --body-bg-color: #000028;
 
  /*Фон*/
  --bg-image: url('../images/cover-image-dark.png');
}

.theme-dark .header__rec {
  display: flex;
}
