/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /*Цвета*/
  --accent-color: #ff8dcb;
  --titul-color: #ffc2e6;
  --header-color: #353430;
  --mark-text-color: #353430;
  --text-color: #353430;
  --body-bg-color: #fff1f7;
  --button-hover-color: rgba(50, 49, 45, 0.4);

  /*Фон*/
  --bg-image: url('../images/cover-image-light.png');
}

.theme-light .header__rec {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    /*Цвета*/
    --accent-color: #ff8dcb;
    --titul-color: #ffc2e6;
    --header-color: #353430;
    --mark-text-color: #353430;
    --text-color: #353430;
    --body-bg-color: #fff1f7;
    --button-hover-color: rgba(50, 49, 45, 0.4);
  
    /*Фон*/
    --bg-image: url('../images/cover-image-light.png');
  }
  
  .header__rec {
    display: none;
  }
}