/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --titul-color: #db00ff;
  --header-color: #ff0070;
  --mark-text-color: #000028;
  --text-color: #f1b2ce;
  --body-bg-color: #000028;
  
  --main-gap: 10px;
  --rec-position-right: 38px;
}